:root {
  --main-primary-color: #999999;
  --main-secondary-color: #181818;
  --main-link-color: #c2c2c2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.kompetanse {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 0 55px;
}
/* first section  */

.first__section {
  grid-column-start: 2;
  grid-column-end: 7;
}
.sm__title {
  color: var(--main-primary-color);
  font-size: 32px;
  line-height: 39px;
  font-weight: 300;
  margin-bottom: 20px;
}

.title {
  color:  var(--main-secondary-color);
  font-size: 48px;
  line-height: 58px;
  font-weight: 600;
  padding-bottom: 150px;
}

/* first section  */

/* second section  */

.second__section {
  padding: 10px;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 2;
}

.item {
  margin: 0 3px 5px;
  padding-top: 3px;
  list-style: none;
}
.link {
  font-size: 22px;
  line-height: 27px;
  text-decoration: none;
  color: var(--main-link-color);
  transition: all ease-in-out .15s;
}

.link:active {
  color:  var(--main-secondary-color);
  border-bottom: 1px solid var(--main-secondary-color);
}

/* second section  */

/* third section  */

.third__section {
  display: flex;
  flex-wrap: wrap;
  grid-column-start: 2;
  grid-column-end: 7;
}

.card {
  width: 25%;
  position: relative;
  padding: 40px 20px;
}

.card__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.thumbnail {
  width: 100%;
  height: auto;
}
img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.text {
  padding-bottom: 20px;
}

.meta__title {
  color: var(--main-secondary-color);
  font-size: 22px;
  line-height: 27px;
  font-weight: 600;
  margin-bottom: 5px;
}

.meta__description {
  padding-bottom: 20px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  color: var(--main-primary-color);
}
.mobile {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: var(--main-primary-color);
  margin-bottom: 5px;
}
.email {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: var(--main-primary-color);
}

/* third section  */

/* tablet style  */

@media only screen and (max-width: 995px) {
  .kompetanse {
    padding: 0 25px;
  }

  .first__section {
    grid-column-start: 1;
    grid-column-end: 7;
  }

  .second__section {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 2;
  }

  .third__section {
    grid-column-start: 1;
    grid-column-end: 7;
  }

  .sm__title {
    font-size: 26px;
    line-height: 32px;
  }
  .title {
    padding-bottom: 60px;
    font-size: 40px;
    line-height: 48px;
  }

  .links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .item {
    margin: 0 13px 5px;
    padding-top: 5px;
  }
  .link {
    font-size: 18px;
  }

  .card {
    width: 33.33%;
  }
}

/* mobile style  */

@media only screen and (max-width: 768px) {
  .kompetanse {
    padding: 0 16px;
  }
  .sm__title {
    font-size: 22px;
    line-height: 28px;
  }
  .title {
    font-size: 36px;
    line-height: 38px;
  }
  .card {
    width: 100%;
    padding: 25px 10px;
  }
}

/* desktop sidebar style  */

@media only screen and (min-width: 995px) {
  .inner {
    position: relative;
  }
  .links {
    position: fixed;
    top: 225px;
    left: 65px;
  }
}
